.caixa { border: 1px solid #ccc;
                padding: 20px;
                margin: 10px;
                width: 200px;
                display: inline-block;
                background-color: rgb(167, 4, 402, 0);}
               
            